@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
    --gradiente-azul: linear-gradient(90deg, #90dfe2, #0a2958);
    --verde-agua-claro: #defaf3;
    --azul-escuro: #0a2958;
    --verde-agua: #90dfe2;
    --off-white: #eaeaea;
    --grafite: #000000c4;
    --sombra: #5c5d5e71;
    --fonte-titulo: "Questrial", sans-serif;
    --fonte-corpo: "Montserrat", sans-serif;
}

h1, p {
    letter-spacing: 2px;
}

body {
    font-family: var(--fonte-titulo);
    text-transform: uppercase;
    background: var(--gradiente-azul);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    color: var(--grafite);
}

a {
    text-decoration: none;
}

a:hover {
    text-shadow: var(--sombra) 1px 1px 1px;
}

header a {
    color: white;
    padding: 1em;
}

.img-perfil {
    margin: 40px 0 10px 0;
    background-color: var(--off-white);
    max-width: 120px;
    color: white;
    border-radius: 300px;
    z-index: 3;
    position: relative; 
    padding: 5px;
}

.icon {
    margin: 40px 0 10px 0;
    background-color: var(--off-white);
    max-width: 120px;
    color: white;
    border-radius: 300px;
    z-index: 3;
    position: relative; 
    padding: 5px;
}

.container{
    text-align: center;
    background-color: var(--off-white);
    width: 300px;
    height: 500px;
    border: var(--sombra) 1px 1px 1px;
    border-radius: 5px;
    z-index: 0;
    position: relative; 
}

hr{
    position: absolute; /* Absoluto para controle total sobre o posicionamento */
    top: 98px; /* Ajuste da posição da linha */
    left: 50%; /* Centraliza a linha */
    transform: translateX(-50%); /* Compensa a largura da linha para ficar centrada */
    z-index: 1; /* Linha atrás da imagem */
    width: 250px;
}