<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vitória's personal site</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="container">
        <img class="img-perfil" src="../static/img/profile-photo.png" alt="">
        <hr class="line">
        <h1>Vitória Fortes</h1>
        <p>Web developer</p>
        <div class="links">
            <img class="icon" src="../static/img/icon-github.png" alt="">
            <img class="icon" src="../static/img/icon-github.png" alt="">
            <img class="icon" src="../static/img/icon-cv.png" alt="">
        </div>

    </div>
    
</body>
</html>